.main {
  width: auto;
  display: flex;
  height: 508px;
  gap: 50px;
  position: relative;
}

.wrapper {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.settings {
  user-select: none;
  display: flex;
  flex-direction: column;
  background-color: #17191e;
  padding: 20px;
  justify-content: space-between;
  border-radius: 15px;
}

.settings label {
  margin-bottom: 5px;
  font-size: 24px;
}
.settings input {
  padding: 8px 12px;
  margin-bottom: 20px;
  background-color: #0a0a0a;
  outline: none;
  border-radius: 10px;
  padding: 15px 10px 15px 10px;
  border: none;
  font-weight: 700;
  font-size: 14px;
}
.settings input:focus {
  outline: 1px solid rgb(223, 243, 44);
}

.error {
  outline: 1px solid red;
}
.settings input::placeholder {
  font-weight: 300;
}

.settings button {
  background: rgb(109, 83, 253);
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.3s;
  font-size: 16px;
}

.connectBtn {
  min-width: 200px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: right;
  justify-content: right;
}
.connectBtn button {
  background: rgb(109, 83, 253);
  border: none;
  width: auto;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.3s;
  font-size: 14px;
}
.connectBtn button:hover {
  background-color: lighten($color: #826ef1, $amount: 1);
}
.connectBtn button:active {
  background-color: lighten($color: #573dec, $amount: 1);
}
.settings button:hover {
  background-color: lighten($color: #826ef1, $amount: 1);
}
.settings button:active {
  background-color: lighten($color: #573dec, $amount: 1);
}

.settings button:disabled {
  opacity: 0.5;
  cursor: no-drop;
}
.connectBtn button:disabled {
  opacity: 0.5;
  cursor: no-drop;
}
.connectBtn button:disabled:hover {
  background: rgb(109, 83, 253);
}
.settings button:disabled:hover {
  background: rgb(109, 83, 253);
}

.wrapBoard {
  background-color: #17191e;
  width: auto;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.boardLine {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.tile {
  background-color: darken($color: #644de7, $amount: 1);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.tile:hover:not(.tileChecked, .tileBomb) {
  background-color: lighten($color: #826ef1, $amount: 0.99);
}

.tileFlagged {
  background-image: url("./assets/flagged.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tileChecked {
  background-color: lighten($color: #6956d3, $amount: 0.9);
  cursor: default;
}

.tileBomb {
  background-color: lighten($color: #6956d3, $amount: 0.9);
  cursor: default;

  font-size: 20px;
}
.tileBomb::after {
  content: "💣";
}

.connectBtn {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 0;
}

.toast {
  color: black;
}
